.movie-detail {
  .movie {
    height: 100vh;
    display: flex;
    align-items: center;

    &-wrp {
      padding: 40px;
      background-color: white;
      border-radius: 12px;
      border: 1px solid #e8e8e8;
      position: relative;
      z-index: 99;
      width: 85%;
      margin: 0 auto;
    }

    &-title {
      color: #d13d7a;
      font-weight: 900;
      margin-bottom: 0;
      font-size: 37px;
      letter-spacing: -0.6px;
      line-height: 1;
      margin: 10px 0 6px 0;
    }

    &-desc {
      font-size: 18px;
      color: #363333;
      width: 80%;
    }

    &-type {
      background-color: rgb(237 153 73 / 14%);
      padding: 2px 12px 4px 12px;
      border-radius: 29px;
      font-size: 13px;
      color: #e1a143cf;
      font-weight: 500;
      margin-right: 10px;
      text-transform: capitalize;
    }

    img {
      height: 100%;
      border-radius: 12px;
      object-fit: cover;
    }

    &-info {
      &__item {
        p {
          margin-left: 20px;
        }

        span {
          font-size: 15px;
          font-weight: 600;
          color: #d13d7a;

          i {
            position: relative;
            top: 1px;
            margin-right: 6px;
            color: #d13d7a;
          }
        }
      }
    }

    &:after {
      content: "";
      position: absolute;
      background-color: #1d1b1c7d;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 0;
      backdrop-filter: blur(28px);
    }
  }

  .skeleton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}